.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columns {
  display: flex;
  flex-direction: row;
}

.container > div {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .columns {
    flex-direction: column;
    border: 2px solid #cccbcb;
    padding: 20px;
    margin: 20px 5px;
  }
}