.min, .max {
  position: relative;
  color: #a4b0b7;
}

.plotLabels {
  display: flex;
  justify-content: space-between;
}

.plot {
  margin-bottom: 7px;
  margin-left: 2px;
  display: flex;
  height: 32px;
  background-color: #f6f8ff;
}

.dot {
  margin: 10px 0;
  background-color: #c7d7f3;
  border-radius: 50%;
  display: inline-block;
}

.column {
  margin-bottom: 10px;
  padding-bottom: 10px;
}